<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="201" />
    <add key="mainForm.Width" value="883" />
    <add key="mainForm.Height" value="758" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAOvgvpjMHX/F49kra6cYxSQmBiDISbV22moKYbOFWDvdjYSwHb5aOQEAXBWd7jAAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAOvgvpjMHX/F48ybbIcYxSQmBiCwcM122GoKYSfoZzvcjYSwU3ZkOQAALkbtTzAAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAOvgvpjMHX/FY5Niq0OMYhITAxDUlLY6bDWFsDMaWh3uRkLYz3a3OgAAqG3xNDAAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEADt73zyZO/6KB8OKNY579ZKYGIDAS2S1Q99vCFtqrbSD1IdkMNtv8jsHAG28FWwwAAAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAONeap7MHX/Fo+3CSsf6zCQmBiBIPn/A4c5zCDun28rhDHMKmP2Om9URAD4FGBMwAAAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEADt73zyZO/6KR1X9ese9eklMDEBgEjnVoe83hD1h7k97qQ/JYPZhvssOAE50mwswAAAA" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEADt73zyZO/6KBwNDltNevSQmBjDwc+r7DWN7Okl9SIay/Z0AjWCIyDAAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEADt73zyZO/6KBwNDgtNevSQmBjAIdOr7DWO7Okl9SIayXZwAmiIwUTAAAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEADt73zyZO/6KBwNDttNevSQmBjAIcer7DWN7Okl9SIay/Z0AxKAxrzAAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEALudYZHMHX/FI8P9hFO0SRITAxCscTvh9JInGcxeBWQ/Oo5gAwCUROnAMAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAHPRskjmjr/i0Wc6zXmfURITAxBERlQ5s/+BsMOAbJt7yWD2KjcPZwDes0THMAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEALudYZHMHX/Fo890mnO0SRITAxCER1Q5v+RJBrPDgOxHxyHst5dzXQB1ZdSBMAAAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAOvgvpjMHX/F4+zfRw4xiklMDEBg693ksNUUwt6yycvhbiSEPaFirgMAHGS7/TAAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAOvgvpjMHX/FIyd8q0OMYhITAxCYrzZx2GoKYWunszncjYSwbVviHQB3n7yHMAAAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAOvgvpjMHX/Fw3VSrF2MYhITAxBw+AnZbTWFsJMYRWzvRkLY4sKr7AAtiuPEMAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAOvgvpjMHX/F40sCk32MYhITAxDs7rxkt9UUwlZx22V3NxLCtip/agcAcPdc+jAAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>